<ng-container>
    <mat-toolbar class='gt-toolbar'>
        <div class='gt-logo'>
            <!-- <a fxHide fxShow.gt-sm="true" routerLink='/'>Gametrade</a> -->
            <a routerLink='/'>GT</a>
            <!--fxHide fxShow.lt-md="true"-->
        </div>

        <div class='search'>
            <mat-icon>
                <i class="material-icons">search</i>
            </mat-icon>
            <input type="text" [formControl]="searchText" [matAutocomplete]="auto" placeholder="Tente 'Arcadia'">

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="gameSelected($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.game">
                    {{ option.game.name }}
                </mat-option>
            </mat-autocomplete>
        </div>

        <div class="space"></div>

        <div class='actions' fxLayout='row' fxLayoutAlign='space-around center' fxHide.lt-sm='true'>
            <a fxFlex routerLink='/help'>Ajuda</a>

            <div class="anonymous-area">
                <a fxFlex *ngIf='!tokenService.userSignedIn()' routerLink='/sign-up'>Cadastre-se</a>
                <a fxFlex *ngIf='!tokenService.userSignedIn()' routerLink='/login'>Entrar</a>
            </div>

            <div class="user-area">
                <a fxFlex *ngIf='tokenService.userSignedIn()' routerLink=''>Olá, {{tokenService.currentUserData?.name || tokenService.currentUserData?.email.split('@')[0]}}</a>
                <a fxFlex *ngIf='tokenService.userSignedIn()' routerLink='/games'>Meus jogos</a>
                <a fxFlex *ngIf='tokenService.userSignedIn()' (click)='signOut()'>Sair</a>
            </div>
        </div>
    </mat-toolbar>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</ng-container>