@import '~@angular/material/theming';
@import '~theme.scss';
@import '~styles.scss';

.mat-toolbar.gt-toolbar {
    background-color: #FAFAFA;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .34);
    color: $primary-color;
    padding: 0 $gutter-3;
    position: fixed;
    z-index: 99;

    .gt-logo {
        margin-right: $gutter-3;

        a {
            $size: 32px;
            font-size: $size;
            line-height: $size;

            position: relative;
            top: 5px;
        }
    }

    .search {
        flex: 1 1 auto;

        mat-icon {
            color: lighten($text-color, 10%);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 24px;
            margin-left: 8px;
        }

        input {
            border: none;
            border-radius: 3px;
            background-color: transparent;
            color: $text-color;
            
            font-size: 16px;
            
            padding: $gutter-1;
            padding-left: 40px;

            width: 100%;
            transition: all .175s;

            &:hover {
                @include box_shadow();
            }

            &:focus {
                border-bottom: 1px solid rgba($gray, .14);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                outline: none;
                @include box_shadow(2);
            }

            &:hover,
            &:focus {
                background-color: white;
            }
        }
    }

    .space {
        flex: 1 1 auto;
    }

    .actions {
        font-size: 14px;
        height: 100%;

        a {
            border-radius: 3px;
            padding: $gutter-1;
            margin: 0 $gutter-1;
            text-transform: uppercase;
            transition: all .125s;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $primary-color;
                background-color: $primary-text-color;
            }
        }
    }
}

.main-content {
    position: relative;
    top: 64px;
    width: 100%;
    height: calc(100% - 64px);
    overflow-y: auto;
}