@import '~@angular/material/theming';
@import '~theme.scss';
@import '~styles.scss';

.mat-toolbar.gt-toolbar {
    background-color: $primary-color;
    border-bottom: 1px solid #D8D8D8;
    color: $primary-text-color;
    padding: 0 $gutter-3;

    .gt-logo {
        flex: 1 1 10%;

        a {
            $size: 32px;
            font-size: $size;
            line-height: $size;
        }
    }

    .search {
        flex: 1 1 auto;
    }

    .space {
        flex: 1 1 auto;
    }

    .actions {
        font-size: 16px;
        height: 100%;

        a {
            border-radius: 3px;
            padding: $gutter-1;
            margin: 0 $gutter-1;
            text-transform: uppercase;
            transition: all .125s;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $primary-color;
                background-color: $primary-text-color;
            }
        }
    }
}