@import '~@angular/material/theming';
@import 'src/theme.scss';
@import '~styles.scss';

.mat-toolbar.gt-toolbar {
  background-color: white;
  border-bottom: 1px solid #D8D8D8;
  color: mat-color($gametrade-app-accent);
  padding: 0 $gutter-3;
  
  .gt-logo {
    color: mat-color($gametrade-app-accent);
    font-size: 1.5em;
    flex: 1 1 10%;
    
    a:before {
      content: 'GT';
      
      @media screen and (min-width: 840px) {
        & {
          content: 'Gametrade';
        }
      }
    }
  }
  
  .search {
    flex: 1 1 auto;
  }
  
  .space {
    flex: 1 1 auto;
  }
  
  .actions {
    font-size: 16px;
    height: 100%;
    
    a {
      padding: $gutter-1;
      margin: 0 $gutter-1;
      text-transform: uppercase;
      transition: all .125s;
      
      &:first-child {
        margin-left: 0;
      }
      
      &:last-child {
        margin-right: 0;
      }
      
      &:hover {
        &:nth-child(1) {
          color: #fff;
          background-color: #2196F3;
        }
        
        &:nth-child(2) {
          color: #fff;
          background-color: #E91E63;
        }
        
        &:nth-child(3) {
          color: #fff;
          background-color: #FF5722;
        }
      }
    }
  }
}
