@import '~styles.scss';

.reservations,
.requests {
    mat-card {
        border-top: $border-top;
    }

    h4 {
        margin: 8px 0;
    }

    p {
        margin: 0;
        margin-left: 8px;
        line-height: 1.5;
    }
}

.cancelada {
    color: #FF9800;
    font-weight: bold;
    text-transform: capitalize;
}

.aprovada {
    color: #4CAF50;
    font-weight: bold;
    text-transform: capitalize;
}

.rejeitada {
    color: #F44336;
    font-weight: bold;
    text-transform: capitalize;
}

.pendente {
    color: #9E9E9E;
    font-weight: bold;
    text-transform: capitalize;
}
