<div class="container" fxLayout fxLayoutAlign="center start" style="height: 100%">
    <mat-card fxFlex="50">
        <mat-card-title>Sucesso!</mat-card-title>

        <mat-card-content>
            <p>Sua reserva foi realizada com sucesso. Agora é só esperar ela ser aprovada pelo proprietário.</p>
            <p>Quando isso acontecer, a reserva ficará aprovada na aba de <a routerLink="/reservations">'Reservas'</a></p>
        </mat-card-content>

        <mat-card-actions>
            <a mat-button routerLink="/home">Voltar ao início</a>
        </mat-card-actions>
    </mat-card>
</div>