<div class='jumbotron container' *ngIf='hasInfo'>
    <h1 class='mat-display-2'>
      Gametrade
    </h1>

    <div>
        <p>O Gametrade é uma plataforma em que você jogador pode reservar jogos de mesa oferecidos por outros jogadores.</p>
        <p>
            Mas para você que está do outro lado do jogo, e gostaria de fazer um dinheirinho com eles, é possível disponibilizá-los 
            para que qualquer pessoa possa reservá-los.
        </p>
    </div>

    <gametrade-closeable (onClose)='closeInfo()'></gametrade-closeable>
</div>

<gametrade-recommended-games *ngIf="userService.current_user"></gametrade-recommended-games>

<gametrade-most-searched-games></gametrade-most-searched-games>
