<div class='jumbotron container' *ngIf='hasInfo'>
    <h1 class='mat-display-2'>
      Gametrade
    </h1>

    <div>
        <p>O Gametrade é uma plataforma em que você jogador pode reservar jogos de mesa oferecidos por outros jogadores.</p>
        <p>
            Mas para você que está do outro lado do jogo, e gostaria de fazer um dinheirinho com eles, é possível disponibilizá-los 
            para que qualquer pessoa possa reservá-los.
        </p>
    </div>

    <gametrade-closeable (onClose)='closeInfo()'></gametrade-closeable>
</div>

<!-- <ng-container *ngIf="tokenService.currentUserData">
    <gametrade-recommended-games></gametrade-recommended-games>
    
    <div class="separator"></div>
</ng-container> -->

<gametrade-most-recent-games></gametrade-most-recent-games>

<div class="separator"></div>

<gametrade-category-list></gametrade-category-list>
