@import '~styles.scss';

.jumbotron {
    $background-color: $accent-color;
    background-color: $background-color;
    color: $accent-text-color;


    div {
        background-color: lighten($background-color, 15%);
        border-radius: 4px;
        padding: $gutter-2;
        width: 50%;

        p {
            margin: 0;
            margin-bottom: $gutter-2;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}