<ng-container *ngIf="game">
    <div class="block-image" [ngStyle]="{background: 'url(' + game.thumbnail + ')'}"></div>

    <div class="container">
        <h1 class="mat-headline underline">{{game.name}}</h1>

        <div fxLayout='row' fxLayoutGap="16px">
            <p class="may-body-1">Número de jogadores: {{game.players}}</p>
        </div>

        <p class='mat-body-1'>
            {{game.description}}
        </p>

        <star-rating-comp *ngIf="game.rating" [starType]="'svg'" [readOnly]="true" [showHalfStars]="true" [rating]="game.rating"></star-rating-comp>
    </div>
</ng-container>
