@import '~styles.scss';

.block-image {
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 320px;

    &:before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }
}

.owner {
    padding: 8px;

    @include box_shadow();
}
