@import '~styles.scss';

.block-image {
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 320px;

    &:before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }
}

.container {
    padding: 24px 96px;

    .game-info,
    .reservation-info {
        padding: 24px;
        @include box_shadow();
    }

    .reservation-info {
        button {
            width: 100%;
        }
    }
}