<gametrade-loading-overlay></gametrade-loading-overlay>

<ng-container *ngIf="game">
    <div class="block-image" [ngStyle]="{background: 'url(' + game.thumbnail + ')'}">
        <button mat-raised-button (click)="saveGame()">
                <mat-icon>favorite</mat-icon>
                Salvar
        </button>
    </div>

    <div class="container" fxLayout fxLayoutWrap fxLayoutAlign="start start">
        <h1 class="mat-headline underline-inverse" fxFlex="100"><span>{{game.name}}</span> <small>{{game.game_kind?.name}} - {{game.theme?.name}}</small></h1>

        <div class="game-info" fxFlex="calc(70% - 16px)">

            <div>
                <p style="margin: 0; line-height: 1.5;" class="may-body-1">Número de jogadores: {{game.players}}</p>
                <small>Data de lançamento: {{game.launch_date | date:'dd/MM/y'}}</small>
            </div>

            <p class='mat-body-1' style="word-wrap: break-word; margin-bottom: 0; white-space: pre-line;">
                {{game.description}}
            </p>

            <star-rating-comp *ngIf="game.rating" [starType]="'svg'" [readOnly]="true" [showHalfStars]="true" [rating]="game.rating"></star-rating-comp>
        </div>

        <div class="reservation-info" fxFlex="30">
            <h3 style="margin: 0">R$ {{(game.price || 0) | number:'1.2-2'}} <small>por dia</small></h3>

            <div class="separator"></div>

            <form fxLayout="row" fxLayoutGap="16px" fxLayoutWrap="wrap">

                <mat-form-field fxFlex="calc(50% - 16px)">
                    <input matInput [matDatepicker]="checkInPickerr" placeholder="Check-in">
                    <mat-datepicker-toggle matSuffix [for]="checkInPickerr"></mat-datepicker-toggle>
                    <mat-datepicker #checkInPickerr></mat-datepicker>
                </mat-form-field>

                <mat-form-field fxFlex="calc(50% - 16px)">
                    <input matInput [matDatepicker]="checkOutPicker" placeholder="Checkout">
                    <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
                    <mat-datepicker #checkOutPicker></mat-datepicker>
                </mat-form-field>

                <div fxFlex="100">
                    <button mat-raised-button color="accent" (click)="makeReservation()">Reservar</button>
                </div>
            </form>
        </div>
    </div>
</ng-container>