@import '~styles.scss';

.block-image {
    background-image: url(http://via.placeholder.com/800x450);
    background-size: cover !important;
    background-position: center !important;
    box-shadow: 0 1px 5px -1px rgba($light-gray, .80);

    width: 100%;
    height: 320px;

    &:before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }

    button {
        position: absolute;
        top: 24px;
        right: 24px;

        mat-icon {
            color: white;
            height: 18px;
            width: 20px;
            text-align: left;
            font-size: 14px;
            text-shadow: 0 1px 0px black, 0 -1.5px 0px black, 1px 0 0px black, -1px 0 0px black;
        }
    }
}

.container {
    padding: 24px 96px;

    .mat-headline span {
        margin-right: 24px;
    }

    .game-info,
    .reservation-info {
        box-shadow: 0 1px 5px 2px $alpha-black;
        background-color: white;

        padding: 24px;
    }

    .game-info {
        border-top: $border-top;
        margin-right: 16px;
    }

    .reservation-info {
        border-top: $border-top-accent;

        button {
            width: 100%;
        }
    }
}