<gametrade-loading-overlay></gametrade-loading-overlay>

<mat-toolbar class='gametrade-toolbar'>
    <span class='gametrade-logo'>
    <a routerLink='/'></a>
  </span>
</mat-toolbar>

<div class='back-button' (click)='goBack()' fxLayout='row' fxLayoutAlign='center center' fxShow.gt-sm="true">
    <mat-icon>
        <i class='material-icons'>arrow_back</i>
    </mat-icon>
</div>

<div class='login-wrapper full-width' fxLayout='row' fxLayoutAlign='center center' fxLayoutWrap="wrap">
    <mat-card fxFlex='90' fxFlex.gt-xs='60' fxFlex.gt-sm='30'>
        <mat-card-title>Entre com seu e-mail</mat-card-title>

        <mat-card-content>
            <form [formGroup]='loginForm' (ngSubmit)="onSubmit(loginForm)" fxLayout='row' fxLayoutWrap='wrap'>
                <mat-form-field color='accent' fxFlex='100'>
                    <input matInput formControlName='email' placeholder='E-mail' autofocus>
                    <mat-error *ngIf='!loginForm.controls.email.valid'>{{checkErrors('email')}}</mat-error>
                </mat-form-field>

                <mat-form-field color='accent' fxFlex='100'>
                    <input matInput formControlName='password' placeholder='Senha' type='password'>
                    <mat-error *ngIf='!loginForm.controls.password.valid'>{{checkErrors('password')}}</mat-error>
                </mat-form-field>

                <div class='row' fxFlex='100' fxLayout='row'>
                    <button type="submit" fxFlex='100' mat-raised-button color='accent' [disabled]='(!loginForm.dirty || !loginForm.valid)'>ENTRAR</button>
                </div>

                <div class='separator'></div>

                <div class='row' fxFlex='100' fxLayout='row' fxLayoutGap="16px">
                    <a routerLink="/forgot-password" fxFlex='calc(65% - 8px)' mat-button color='primary'>ESQUECI MINHA SENHA</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>