@import '~styles.scss';

.game-card {
    background-color: white;

    &.mat-card:not([class*=mat-elevation-z]) {
        box-shadow: 0 0 1px rgba(black, .44);

        &:hover {
            border: none;
            background-color: #FFF;
            border-radius: 3px;
            cursor: pointer;

            @include box_shadow(2);

            .mat-card-image {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
        }
    }

    transition: all .175s;

    @media screen and (max-width: 959px) {
        margin-bottom: $gutter-3;
    }

    .content {
        padding: $gutter-2;
    }

    .actions {
        padding: $gutter-1;
    }

    mat-card-footer {
        span {
            position: absolute;
            right: 8px;

            a {
                color: $primary-color;
                transition: all .275s;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

:host /deep/ {
    img {
        height: 105px;
    }
    
    .rating {
        outline: none;
        display: inline-block;

        .star-container {
            margin: 0 8px;

            .star {
                width: 16px;
            }
        }
    }
}