<mat-card class='game-card' (click)="readMore()">
    <gametrade-custom-image [src]='"via.placeholder.com/800x450"' [alt]='game.name'></gametrade-custom-image>

    <mat-card-content>
        <mat-card-title class="truncate">{{game.name}}</mat-card-title>

        <p>Tipo: {{game.game_kind?.name}}</p>
        <p>Tema: {{game.theme?.name}}</p>

        <star-rating-comp [starType]="'svg'" [readOnly]="true" [showHalfStars]="true" [rating]="game.rating"></star-rating-comp>
    </mat-card-content>
</mat-card>