@import '~styles.scss';

.game-card {
    background-color: #fff;
    border-radius: 3px;

    @media screen and (max-width: 959px) {
        margin-bottom: $gutter-3;
    }

    &:hover {
        @include box_shadow(3);
    }

    @include box_shadow();

    .content {
        padding: $gutter-2;
    }

    .actions {
        padding: $gutter-1;
    }
    
    .mat-card-image {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}

:host /deep/ .rating {
    outline: none;
}