<md-toolbar class="gt-toolbar">
  <span class="gt-logo">
        <a routerLink="/"></a>
    </span>

  <div class="space"></div>

  <div class="actions" fxLayout="row" fxLayoutAlign="space-around center">
    <a fxFlex routerLink="/help">Ajuda</a>
    <a fxFlex (click)="openRegister()">Cadastre-se</a>
    <a fxFlex (click)="openLogin()">Entrar</a>
  </div>
</md-toolbar>

<div class="gt-main-container">
  <h1 class="mat-display-1">
    Gametrade
  </h1>

  <router-outlet></router-outlet>

  <most-searched-games></most-searched-games>
</div>


<gt-footer></gt-footer>

<!-- <router-outlet></router-outlet> -->
