<md-toolbar class="gt-toolbar">
  <span class="gt-logo">
    <a routerLink="/"></a>
  </span>
</md-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <md-card fxFlex="90" fxFlex.gt-xs="60" fxFlex.gt-sm="30">
    <md-card-title>Utilize seu e-mail</md-card-title>

    <md-card-content>
      <form fxLayout="row" fxLayoutWrap="wrap">
        <md-form-field color="accent" fxFlex="100">
          <input mdInput placeholder="E-mail">
        </md-form-field>

        <md-form-field color="accent" fxFlex="100">
          <input mdInput placeholder="Senha" type="password">
        </md-form-field>

        <div class="row" fxFlex="100" fxLayout="row">
          <button fxFlex="100" md-raised-button color="accent" (click)="sendLogin()">ENTRAR</button>
        </div>

        <p style="text-align: center;">OU</p>

        <div class="row" fxFlex="100" fxLayout="row" fxLayoutGap="8px">
          <button fxFlex="10" class="minimal-button facebook" md-raised-button>F</button>
          <button fxFlex="10" class="minimal-button google" md-raised-button>G</button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
