@import "../../../styles.scss";

.most-searched-container {
  .most-searched {
    background-color: #fff;
    border-radius: 3px;

    @media screen and (max-width: 959px) {
        margin-bottom: $gutter-3;
    }

    @include box_shadow();
    
    img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    
    .content {
      padding: $gutter-2;
    }
    
    .actions {
      padding: $gutter-1;
    }
  }
}
