@import '~styles.scss';

.category-card {
    $size: 250px;
    background-color: white;
    height: $size * 0.75;
    width: $size;
    padding: 0;
    
    .category-icon {
        width: $size;
        height: $size * .5;
    }

    .category-name {
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }
}