// Imports
@import '_variables.scss';
@import "~angular-star-rating/assets/scss/star-rating";




/* ************************************************************************************************************************************** */

// Reset and Base settings
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $font-family;
}

body {
    background-color: $bg-color;
    *:focus {
        outline: none;
    }
}

a,
a:link,
a:active,
a:visited {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.mat-form-field {
    margin-bottom: $gutter-1;
}

// Reset and Base settings

/* ************************************************************************************************************************************** */

// Mixins
@mixin box_shadow ($level: 1) {
    @if $level==1 {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    @else if $level==2 {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    @else if $level==3 {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    @else if $level==4 {
        box-shadow: 0 14px 2$gutter-1 rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
}

// Mixins

/* ************************************************************************************************************************************** */

// Containers
.card {
    @include box_shadow(2);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: $gutter-3;
}

.empty {
    $color: rgba(233, 30, 99, 0.8);
    background: $color;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.14);
    color: rgba(255, 255, 255, .84);
    justify-content: center;
    padding: 24px;
    width: calc(50% - 24px);

    a {
        border-bottom: 3px solid #FFF;
        transition: all .275s;

        &:hover {
            background-color: #FFF;
            color: $color;
        }
    }
}

// Containers

/* ************************************************************************************************************************************** */

// Utilities
.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 16px;
    margin: 16px 0;

    &:before {
        background-color: $gray;
        border-radius: 3px;
        content: '';
        height: 3px;
        width: 100%;
        max-width: 400px;
    }
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(25% - 16px));
    justify-content: space-between;
}

.underline {
    box-shadow: 0 1px 3px 2px rgba(black, .14);
    display: inline-block;
    background: #26A69A;
    padding: 8px;
    color: white;
    border-bottom: 3px solid #80CBC4;
}

.underline-block {
    @extend .underline;

    display: block;
}

.underline-inverse {
    @extend .underline;

    background-color: #fff;
    color: $primary-color;
}

.captioned-headline {
    margin-bottom: $gutter-3;

    h2.mat-headline {
        margin-bottom: 0;
    }

    p.mat-caption {
        margin-top: $gutter-1;
    }
}

// Utilities

/* ************************************************************************************************************************************** */

// Width and Height
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

// Width and Height

/* ************************************************************************************************************************************** */

// Button Style
.minimal-button {
    min-width: 0;
    padding: 0;
}

// Button Style

/* ************************************************************************************************************************************** */

// Social
.social-button {
    min-width: 0;
    padding: 0;
    $size: 36px;
    height: $size;
    width: $size;
    img,
    svg {
        height: $size / 3 * 2;
        width: $size / 3 * 2;
    }
}

.facebook {
    color: #FFF;
    background-color: #3B5998;
}

.google {
    color: #FFF;
    background-color: #F4511E;
}

// Social