@import '~styles.scss';

.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(25% - 16px));
    justify-content: space-between;

    gametrade-game-card {
        margin-bottom: 16px;
    }
}

.filters {
    height: 100%;
    box-shadow: 0 1px 3px 1px $alpha-black;
    border-top: $border-top-accent;
    padding: 8px;
}