@import '~styles.scss';;

.empty {
    $color: #673AB7;
    background: $color;

    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;

    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .14);
    color: white;

    justify-content: center;
    padding: 24px;

    width: calc(50% - 24px);

    a {
        border-bottom: 3px solid #FFF;
        transition: all .275s;
        
        &:hover {
            background-color: #FFF;
            color: $color;
        }
    }
}